//color
$color-white-0: #ffffff;
$color-white-1: #f5f5f5;
$color-white-2: #ecf0f1;
$color-white-3: #e0e0e0;
$color-white-4: #e5e5e5;
$color-black-1: #212121;
$color-black-2: #353b48;
$color-orange-0: #ff8121;
$color-green-0: #2ecc71;
$color-red-0: #ff3224;
$color-white-blue-0: #636e72;
$color-white-blue-1: #4b6584;
$color-gray-0: #a5a5a5;
$color-gray-1: #bdbdbd;

//font-size
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-22: 22px;
$fs-35: 35px;

//font-weight
$fw-400: 400;
$fw-700: 700;

//margin
$mg-5: 5px;
$mg-10: 10px;
$mg-20: 20px;
$mg-30: 30px;
$mg-40: 40px;
$mg-50: 50px;

//padding
$pd-10: 10px;
$pd-15: 15px;
$pd-20: 20px;
$pd-30: 30px;
$pd-50: 50px;
$pd-70: 70px;

//max-width
$mw-200px: 200px;
$mw-600px: 600px;
$mw-1200px: 1200px;
$mw-1440px: 1440px;
$mw-1680px: 1680px;

//border-radius
$br-5: 5px;
$br-10: 10px;
$br-20: 20px;

//break points
$breakpoints: (
  "xxl": 1440px,
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
);
