/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.popup-country {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  padding: $pd-50 $pd-20;

  &__wrapper {
    position: relative;

    margin: 0 auto;
    padding: $pd-20 $pd-30;

    max-width: $mw-1440px;
    height: 850px;

    background-color: $color-white-2;
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;

    border-radius: $br-10;

    overflow-y: scroll;
  }

  &__title {
    @include styleText($color-black-1, $fs-22, $fw-400);

    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.8px;
  }

  &__close {
    position: absolute;
    top: 18px;
    right: 30px;

    width: 25px;
    height: 25px;
    fill: $color-white-blue-1;

    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      -webkit-transform: scale(0.9) rotate(360deg);
      -ms-transform: scale(0.9) rotate(360deg);
      transform: scale(0.9) rotate(360deg);
    }
  }

  &__information {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    row-gap: 30px;

    max-width: $mw-1200px;
    margin: $mg-40 auto;
  }

  &__item {
    -ms-grid-column-align: center;
    justify-self: center;

    padding: $pd-15 0;
    width: 250px;

    border: 1px solid $color-black-2;
    border-radius: $br-5;

    text-align: center;

    &-region {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
    }

    &-subregion {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3 / 4;
    }

    &-population {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
    }

    &-flag {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3 / 4;
    }

    &-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  &__name {
    @include styleText($color-black-1, $fs-22 - 2, $fw-700);

    text-transform: uppercase;
  }

  &__character {
    @include styleText($color-black-1, $fs-14, $fw-700);
  }

  &__text {
    @include styleText($color-black-1, $fs-18, $fw-400);

    margin-top: $mg-10;

    letter-spacing: 0.5px;
  }

  &__flag {
    margin-top: $mg-5;

    max-width: 50px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  &__date {
    position: relative;
    left: 80px;

    max-width: $mw-200px + 20;
    margin: $mg-50 0 $mg-30;

    &-title {
      margin-bottom: $mg-20;

      font-size: $fs-18;

      line-height: 25px;
    }

    &-custom {
      padding: $pd-10;

      border: 1px solid $color-black-2;
      border-radius: 0;
    }

    &-button {
      @include styleButton($color-white-0, 0, $pd-10, $pd-20 + 5);

      position: absolute;
      top: 70px;
      right: -80px;

      border: 1px solid $color-black-2;
      border-left: none;

      -webkit-transition: all 0.3s;

      -o-transition: all 0.3s;

      transition: all 0.3s;

      &:hover {
        background-color: $color-white-2;
      }
    }
  }

  &__chart {
    margin: 0 auto;
    padding: $pd-20 0 0;

    max-width: $mw-1200px;
  }
}

//Responsive

@include responsive("xl") {
  .popup-country {
    &__title {
      font-size: $fs-18;
    }

    &__information {
      row-gap: 40px;
    }
  }
}

@include responsive("lg") {
  .popup-country {
    &__close {
      top: 15px;
      right: 20px;

      width: 22px;
      height: 22px;
    }

    &__name {
      font-size: $fs-18;
    }

    &__text {
      font-size: $fs-16;
    }

    &__information {
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }

    &__item {
      width: 220px;
    }
  }
}

@include responsive("md") {
  .popup-country {
    &__title {
      max-width: 350px;
      margin: 0 auto;

      font-size: $fs-16;
      line-height: 25px;
    }

    &__close {
      top: 24px;
      right: 10px;

      width: 18px;
      height: 18px;
    }

    &__information {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    &__item {
      width: 200px;

      &-region {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
      }

      &-subregion {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
      }

      &-name {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
      }

      &-capital {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
      }

      &-area {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
      }

      &-flag {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
      }
    }

    &__text {
      font-size: $fs-14;
    }
  }
}

@include responsive("sm") {
  .popup-country {
    &__information {
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px;
    }
  }
}
