/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.total-country {
  margin: $mg-40 auto;
  max-width: $mw-1440px;

  &__title {
    @include styleText($color-black-1, $fs-18, $fw-400);

    position: relative;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -10px;

      height: 100%;
      width: 3px;
      background-color: $color-orange-0;
    }
  }

  &__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 0 20px;

    margin: $mg-30 auto;
    max-width: $mw-1200px;
  }

  &__item {
    max-width: 200px;
    padding: $pd-10 $pd-20;
    background-color: $color-white-0;

    border: 1px solid $color-white-3;
    border-radius: $br-5;

    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      background-color: $color-white-blue-0;
      border-color: $color-white-blue-0;

      color: $color-white-0;
    }
  }

  &__icon {
    margin-right: 3px;
    margin-bottom: -3px;

    width: 18px;
    height: 18px;
  }

  &__text {
    line-height: 22px;
  }

  &__container {
    width: $mw-1200px;
    margin: $mg-30 auto 0;
  }

  &__table {
    width: 100%;
  }

  &__th {
    @include styleText($color-white-blue-1, $fs-18, $fw-400);
    text-align: left;

    padding-bottom: $pd-10;
    border-bottom: 2px solid $color-gray-0;
  }

  &__td {
    padding: $pd-20 0;
    border-bottom: 1px solid $color-gray-1;

    &-icon {
      width: 20px;
      height: 20px;

      margin-bottom: -$mg-5;

      cursor: pointer;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &--bookmark {
        margin-right: $mg-5;
      }

      &--star {
        margin-right: $mg-5;
        margin-bottom: -$mg-5;

        width: 22px;
        height: 22px;

        &.active {
          fill: #ffd32a;
        }
      }

      &:hover {
        fill: $color-gray-0;
      }
    }
  }

  &__more {
    margin: $mg-30 auto;

    text-align: center;
  }

  &__button {
    @include styleButton($color-white-0, $br-20, $pd-10, $pd-20);

    position: relative;

    width: 450px;

    outline: none;
    border: 1px solid $color-gray-1;

    text-align: left;

    -webkit-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;

    &:hover {
      background-color: $color-white-blue-0;
      border-color: $color-white-blue-0;

      color: $color-white-0;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: -45%;

      width: 200px;
      height: 1px;
      background-color: $color-gray-1;
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: -45%;

      width: 200px;
      height: 1px;
      background-color: $color-gray-1;
    }

    &-icon {
      margin-bottom: -$mg-5;

      width: 20px;
      height: 20px;
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;

      -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

      transform: translate(-50%, -50%);
    }
  }
}

//Responsive

@media screen and (max-width: 1300px) {
  .total-country {
    &__title {
      font-size: $fs-16;
    }

    &__container {
      width: 100%;
    }

    &__th {
      font-size: $fs-16;
    }
  }
}

@include responsive("lg") {
  .total-country {
    &__filter {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    &__text {
      font-size: $fs-14;
      line-height: 20px;
    }

    &__button {
      width: 350px;

      &::before {
        top: 50%;
        left: -44%;

        width: 150px;
      }

      &::after {
        top: 50%;
        right: -44%;

        width: 150px;
      }
    }
  }
}

@include responsive("md") {
  .total-country {
    &__filter {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 10px 20px;
    }

    &__item {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
    }

    &__th {
      font-size: $fs-14;
    }

    &__td {
      font-size: $fs-14;
      line-height: 18px;

      &-icon {
        width: 16px;
        height: 16px;

        &--star {
          width: 16px;
          height: 16px;

          margin-bottom: -$mg-5 + 2;
        }

        &--bookmark {
          margin-right: $mg-5 - 3;
        }
      }
    }

    &__button {
      width: 300px;

      &::before {
        top: 50%;
        left: -40%;

        width: 120px;
      }

      &::after {
        top: 50%;
        right: -40%;

        width: 120px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .total-country {
    &__filter {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &__button {
      width: 210px;

      &::before {
        top: 50%;
        left: -48%;

        width: 100px;
      }

      &::after {
        top: 50%;
        right: -48%;

        width: 100px;
      }
    }
  }
}
