.total-country {
  margin: $mg-40 auto;
  max-width: $mw-1440px;

  &__title {
    @include styleText($color-black-1, $fs-16, $fw-400);

    position: relative;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -10px;

      height: 100%;
      width: 3px;
      background-color: $color-orange-0;
    }
  }

  &__filter {
    display: flex;
    justify-content: flex-end;
    gap: 0 20px;

    margin: $mg-30 auto;
    max-width: $mw-1200px;
  }

  &__item {
    max-width: 200px;
    padding: $pd-10 $pd-20;
    background-color: $color-white-0;

    border: 1px solid $color-white-3;
    border-radius: $br-5;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $color-white-blue-0;
      border-color: $color-white-blue-0;

      color: $color-white-0;
    }
  }

  &__icon {
    margin-right: 3px;
    margin-bottom: -3px;

    width: 18px;
    height: 18px;
  }

  &__text {
    line-height: 22px;
  }

  &__container {
    width: $mw-1200px;
    margin: $mg-30 auto 0;
  }

  &__table {
    width: 100%;
  }

  &__th {
    @include styleText($color-white-blue-1, $fs-18, $fw-400);
    text-align: left;

    padding-bottom: $pd-10;
    border-bottom: 2px solid $color-gray-0;
  }

  &__td {
    padding: $pd-20 0;
    border-bottom: 1px solid $color-gray-1;

    &-icon {
      width: 20px;
      height: 20px;

      margin-bottom: -$mg-5;

      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        fill: $color-gray-0;
      }
    }
  }

  &__more {
    margin: $mg-30 auto;

    text-align: center;
  }

  &__button {
    @include styleButton($color-white-0, $br-20, $pd-10, $pd-20);

    position: relative;

    width: 450px;

    outline: none;
    border: 1px solid $color-gray-1;

    text-align: left;

    transition: all 0.3s;

    &:hover {
      background-color: $color-white-blue-0;
      border-color: $color-white-blue-0;

      color: $color-white-0;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: -45%;

      width: 200px;
      height: 1px;
      background-color: $color-gray-1;
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: -45%;

      width: 200px;
      height: 1px;
      background-color: $color-gray-1;
    }

    &-icon {
      margin-bottom: -$mg-5;

      width: 20px;
      height: 20px;
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}
