.total-case {
  margin: $mg-40 auto;
  max-width: $mw-1440px;

  &__title {
    @include styleText($color-black-1, $fs-18, $fw-400);
    position: relative;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -10px;

      height: 100%;
      width: 3px;

      background-color: $color-orange-0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;

    margin: $mg-30 0;

    gap: 10px 30px;
  }

  &__card {
    padding: $pd-30;
    background-color: $color-white-0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    border: 1px solid $color-white-4;
    border-radius: $br-10;

    &--infected {
      border-bottom: 3px solid $color-orange-0;
    }

    &--recovered {
      border-bottom: 3px solid $color-green-0;
    }

    &--deaths {
      border-bottom: 3px solid $color-red-0;
    }

    &-subject {
      @include styleText($color-black-1, $fs-16, $fw-400);

      text-transform: uppercase;
    }

    &-number {
      @include styleText($color-black-1, $fs-35 - 3, $fw-400);

      margin: $mg-10 + 5 0;

      letter-spacing: 0.8px;

      &--infected {
        color: $color-orange-0;
      }

      &--recovered {
        color: $color-green-0;
      }

      &--deaths {
        color: $color-red-0;
      }
    }

    &-description {
      @include styleText($color-black-1, $fs-14, $fw-400);

      font-style: italic;
    }
  }
}
